
<div class="header">
  <button id="closeCrossButton" mat-icon-button tabindex="-1" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
  <h2 mat-dialog-title>🍕Ajout</h2>
</div>
<mat-dialog-content>

  <div class="example-container">
    <div class="row justify-content-md-center" style="margin: 10px 0">
      <file-upload (sendPhoto)='onGetPhoto($event)' [imageSrc]="pizza.photo" [draggingColor]="'orangered'" [baseColor]="'lightgray'"></file-upload>
    </div>
    <mat-form-field
      floatPlaceholder="true">
      <input matInput placeholder="Nom" [(ngModel)]="pizza.nom">
    </mat-form-field>

    <mat-form-field
      floatPlaceholder="true">
      <input matInput placeholder="Prix" type="number" [(ngModel)]="pizza.prix">
    </mat-form-field>

    <mat-form-field
      floatPlaceholder="true">
      <textarea matInput placeholder="Description" [(ngModel)]="pizza.description"></textarea>
    </mat-form-field>


    <mat-form-field>
      <mat-select placeholder="Ingredients" [(ngModel)]="selectedIngredients" [formControl]="toppings" multiple>
        <mat-option *ngFor="let ingredient of ingredients" [value]="ingredient._id">{{ingredient.nom}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="confirmAjouterPizza()"><mat-icon>check_circle</mat-icon> Miam !</button>
</div>
