
<div class="row">
  <div *ngFor="let pizza of pizzas; let i = index;" class="col-sm-4" style="margin-top:10px; margin-bottom:10px;">
      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image style="padding:10px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzOJPXvlOwMKM-h3X1zMwAqKkL8AXUnS5w5eIk83UN1ZcU75eI" alt="Photo of a Shiba Inu">
          <mat-card-title>{{ pizza.nom }}</mat-card-title>
          <mat-card-subtitle>Prix: {{ pizza.prix }}</mat-card-subtitle>
          <p>
            {{ pizza.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openEditerPizzaDialog(pizza._id)">Editer</button>
          <button mat-button (click)="openSupprimerPizzaDialog(pizza._id)">Supprimer</button>
        </mat-card-actions>
      </mat-card>
  </div>
</div>
<div id="addBtnPizza">
  <a mat-fab color="primary" style="font-size:30px" (click)="openAjouterPizzaDialog()">+🍕</a>
</div>
